<.header>
  New Revenue
  <:subtitle>Use this form to manage revenue records in your database.</:subtitle>
</.header>

<.revenue_form changeset={@changeset} action={~p"/revenues"} />

<.back navigate={~p"/revenues"}>Back to revenues</.back>
